Projects listing page!

<!-- Remember to include jQuery :) -->
<script src="/js/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="/js/jquery.modal.min.js"></script>

<link href="/css/jquery.modal.min.css" rel="stylesheet"/>

<style>
    table, td, th thead {
        border: 1px solid gray;
    }

    table.listing td {
        text-align: center;
    }

    img.thumbnail {
        width: 50%;
        height: 25%;
    }

    table.preview td {
        text-align: left;
    }
</style>

<div style="text-align: center">
    <% for (let i = 1; i <= maxNum ; i++) { %>
        <a href="?pageNum=<%= i %>"><%= i %></a>
    <% } %>
</div>

<table style="border: 1px solid grey;">
    <tr>
        <th>Sr. #</th>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Views</th>
        <th>Floors</th>
        <th>Rooms</th>
        <th>Other items</th>
        <th>About</th>
    </tr>
    <% projects.forEach(function(project, index){ %>
        <tr>
            <td><%= (index + 1) + ((pageNum - 1) * projectsPerPage) %></td>
            <td><img src="<%= project.thumbnail.src %>" width="50%" height="50%"/></td>
            <td><%= project.title %></td>
            <td><%= project.numViews %></td>
            <td><%= project.numFloors %></td>
            <td><%= project.numRooms %></td>
            <td><%= project.numOtherItems %></td>
            <td><%= project.aboutContents %></td>
        </tr>
    <% }); %>
</table>